{% extends 'base.html.twig' %}

{% block title %} {{ document.title }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4>{{ document.title }} </h4>
                            <small>DOI :  {{ document.doi }} </small>

                               Crée le :
                                <br />
                                Par :
                            <small>{{ document.user1 }} en collaboration avec {{ document.user2 }}</small>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">
                                    {{ document.title }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}